$accent-dark: #3c5148;
$accent-darker: darken($accent-dark, 9%);
$accent-light: #a1b4ab;

.theme--botanical {
  font-family: 'Roboto', sans-serif;

  --accent-darker: #{$accent-darker};
  --accent-dark: #{$accent-dark};
  --accent-light: #{$accent-light};
  --box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
